<section>
  <h3>Background</h3>
  <ul>
    <li>My name is Ricky Lee. I'm new to the Seattle area. I just moved here in early August with my partner and our two cats.</li>
    <li>I've been an urban farmer, nanny, and program coordinator for a mentorship program. I'm also an activist focused on prison abolition.</li>
    <li>Now I'm becoming a coder.</li>
  </ul>

  <img src="https://rickycodes.files.wordpress.com/2015/06/heart.jpg" alt="picture of Ricky in the dark, tracing a heart in the air with a sparkler" height=400 width=350>

</section>
