<section>
  <h3>Oh wow!</h3>

  <p>
    It just so happens that I have a blog set up. You can visit it by clicking <a href="https://rickycodes.wordpress.com/">here</a>, or the image below.
  </p>
  <a href="https://rickycodes.wordpress.com/"><img src="/ballooncats.gif" alt="cute animated GIF of two cats floating in the air, one tied to, and one holding helium balloons"></a>
</section>
