<section>
  <h3>Please sign my guestbook!</h3>
  <form action="/guestbookthanks" method="get">
    <label for="name">
      <span class="name">Enter your name:</span>
    </label>
    <input type="text" name="message" id="name">
    <br><br>
    <button type="submit" value="Submit">Submit</button>
  </form>
</section>
