<section>
  <h3>Please sign my guestbook!</h3>
  <form>
    First name:<br>
    <input type="text" name="firstname">
    <br>
    Last name:<br>
    <input type="text" name="lastname">
    <br><br>
    <input type="submit" value="Submit">
  </form>
  <p>Sorry the submit button doesn't do anything yet :)</p>
</section>
