<section>
  <h3>Please sign my guestbook!</h3>
  <form action="/guestbookthanks" method="get">
    Your name:<br>
    <input type="text" name="message">
    <br><br>
    <input type="submit" value="Submit">
  </form>
</section>
