<section>

  <h3>Click the links below to learn more about me!</h3>
  <p><img src="http://i.imgur.com/y5UkcfG.gif" alt="cute GIF of an animated cat bouncing with a piece of bread that has a hole cut out of the middle surrounding its face"></p>

</section>
