<html>
  <head>
    <title>Home Page</title>
    <link href="css/index.css" rel="stylesheet">
  </head>

  <body>

    <header>
    <h1><img src="http://www.cliparthut.com/clip-arts/1778/cat-head-clip-art-1778708.jpg" height=25 width = 25>
      Ricky's Home Page
    <img src="http://www.cliparthut.com/clip-arts/1778/cat-head-clip-art-1778708.jpg" height=25 width = 25></h1>
    </header>

    <section>

      <h3>Click the links below to learn more about me!</h3>
      <p><img src = "http://i.imgur.com/y5UkcfG.gif"></p>

    </section>

    <footer>
      <table>
        <tr>
          <td><a href = "/index">Home Page</a></td>
          <td><a href = "/about">About Me</a></td>
          <td><a href = "/projects">My Projects</a></td>
          <td><a href = "/blog">My Blog</a></td>
      </table>
    </footer>

  </body>
</html>
