<section>

  <h3>I love projects. Here are some examples:</h3>
  <ol>
    <li>Cooking</li>
    <img src="http://belarr.com/bakercat/bakercat.gif" alt="cute animated GIF of a cat kneeding dough while wearing a small chef's hat" height=200 width=200>
    <li>Reading</li>
    <img src="/reading.jpg" alt="cute animated cat with a book laying open on its back" height=200 width=200>
    <li>Blogging</li>
    <img src="http://rs1187.pbsrc.com/albums/z393/KristineChavezRodriguez/blogger.gif~c200" alt="cute animated GIF of a cat typing at a laptop with a caption that says blogger" height=200 width=200>
  </ol>

</section>
