<section>

  <h3>I love projects. Here are some examples:</h3>
  <ol>
    <li>Cooking<br>
      <img class="projects" src="http://belarr.com/bakercat/bakercat.gif" alt="cute animated GIF of a cat kneeding dough while wearing a small chef's hat"></li>
    <li>Reading<br>
      <img class="projects" src="/reading.jpg" alt="cute animated cat with a book laying open on its back"></li>
    <li>Blogging<br>
      <img src="http://rs1187.pbsrc.com/albums/z393/KristineChavezRodriguez/blogger.gif~c200" class="projects" alt="cute animated GIF of a cat typing at a laptop with a caption that says blogger"></li>
  </ol>

</section>
