@import url(https://fonts.googleapis.com/css?family=Muli:400,300italic);

body {
  width: 960px;
  background-color: #9999FF;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;
  background-color: #00CC00;
  border:3px dashed black;
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #00CC00;
  border:3px dashed black;
}

table {
  margin-left:auto;
  margin-right:auto;
  padding: 20px;
  width: 60%;
  font-weight: bold;
  font-size: 20;
}

h3 {
  font-family: 'Muli', sans-serif;
}

section {
  margin: 20px
}

p, ol, ul, table {
  font-family: sans-serif;
}
